body{
    background-color: #a9a9a9;
}
h2{
    color: firebrick;
}

.pcg{
    color: rgb(221, 38, 38);
    text-align: center;
}
.p1{
    text-align: justify;
}
#t1{
    text-align: right;
    color: aqua;
}